/* header styles */
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.navbar {
  margin-bottom: 10px;
  padding: 5px 0;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0
}
.navbar ul li {
  flex-grow:  2;
  list-style: none;
  text-align: center;
}
.navbar ul li:nth-child(2) {
  background-color: #000;
  padding: 13px 0px;
  border-radius: 25px;
}
.navbar ul li:nth-child(2) a {
  color: #fff;
}
.navbar ul li:nth-child(5) {
  position: relative;
  flex-grow: 20;
}
.navbar ul li:nth-child(5):before {
  content: "";
  width: 16px;
	height: 16px;
	background-image: url(./assets/search.svg);
	background-size: 100%;
	display: inline-block;
	position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.navbar ul li:first-child {
  flex-grow: 1;
}
.navbar ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #111111;
}
.navbar ul li input {
  background-color: #E9E9E9;
  border: none;
  padding: 17px 25px 17px 35px;
  border-radius: 25px;
  width: 100%;
  font-size: inherit;
}
.navbar ul li input:focus {
  outline: 4px solid #0084ff80;
}

/* conteten mazonry */
.masonry img{
  width: 100%;
  object-fit: cover;
  /* height: 100%; */
  border-radius: 15px;
}
.masonry .item p {
  margin-top: 2px;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  /* para ajustar la descrip a 2 lineas nomas */
  overflow: hidden; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
.masonry .item img.usuario {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.masonry .item div span {
  color: #111111;
  font-size: 14px;
}
.masonry .item div span:hover {
  text-decoration: underline;
}
.masonry .item div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.masonry .item .imagen {
  position: relative;
}
.masonry .item .imagen .btn-save {
  background-color: #e60023;
  color: #fff;
  font-weight: 600;
  padding: 13px 16px;
  border-radius: 25px;
  text-decoration: none;
  position: absolute;
  right: 12px;
  top: 12px;
  display: none;
}
.masonry .item .imagen:hover .btn-save {
  display: block;
}
.masonry .item .imagen .btn-save:hover {
  background-color: #c3001e;
}
.masonry .item .imagen:hover > img  {
  filter: brightness(65%);
}
.masonry .item .imagen .icon-upload,
.masonry .item .imagen .icon-dots {
  position: absolute;
  width: 31px;
  height: 31px;
  bottom: 11px;
  display: none;
}
.masonry .item .imagen:hover .icon-upload {
  display: block;
}
.masonry .item .imagen:hover .icon-dots {
  display: block;
}
.masonry .item .imagen .icon-dots{
  right: 11px;
}
.masonry .item .imagen .icon-upload {
  right: 53px;
}
.masonry .item .imagen .icon-upload img:hover,
.masonry .item .imagen .icon-dots img:hover{
  filter: brightness(112%);
}

p.author {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 40px;
  gap: 7px;
  color: #000;
}
p.author a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

